In [1]:
from bs4 import BeautifulSoup
import requests
import os
import numpy as np
import pandas as pd

In [2]:
def get_features(school_id):
    
    url1=f'https://rptsvr1.tea.texas.gov/cgi/sas/broker?_service=marykay&_program=perfrept.perfmast.sas&_debug=0&lev=C&id={school_id}&prgopt=reports%2Ftapr%2Fperformance.sas'
    url2=f'https://rptsvr1.tea.texas.gov/cgi/sas/broker?_service=marykay&_program=perfrept.perfmast.sas&_debug=0&ccyy=2022&lev=C&id={school_id}&prgopt=reports/tapr/student.sas'
    url3=f'https://rptsvr1.tea.texas.gov/cgi/sas/broker?_service=marykay&_program=perfrept.perfmast.sas&_debug=0&ccyy=2022&lev=C&id={school_id}&prgopt=reports/tapr/staff.sas'
    url4=f'https://rptsvr1.tea.texas.gov/cgi/sas/broker?_service=marykay&_service=appserv&_debug=0&_program=sfadhoc.new_Campus_actual21.sas&which_camp={school_id}'
    
    response1=requests.get(url1)
    soup1 = BeautifulSoup(response1.content, 'html.parser')
    response2=requests.get(url2)
    soup2 = BeautifulSoup(response2.content, 'html.parser')
    response3=requests.get(url3)
    soup3 = BeautifulSoup(response3.content, 'html.parser')
    response4=requests.get(url4)
    soup4 = BeautifulSoup(response4.content, 'html.parser')
    
    
    chinaspring={
        'school_id': [school_id],
        'eng1': [soup1.find_all('td', class_='r t data')[2].text], 
        'eng2': [soup1.find_all('td', class_='r t data')[98].text], 
        'algebra': [soup1.find_all('td', class_='r t data')[194].text],
        'biology': [soup1.find_all('td', class_='r t data')[290].text], 
        'history': [soup1.find_all('td', class_='r t data')[386].text], 
        'ebel': [soup2.find_all('td', class_='r b data')[241].text],
        'econdis': [soup2.find_all('td', class_='r b data')[217].text],
        'salary': [soup3.find_all('td', class_='r b data')[-43].text],
        'masters': [soup3.find_all('td', class_='r b data')[-114].text],
        'doct': [soup3.find_all('td', class_='r b data')[-110].text],
        'beginning_teach': [soup3.find_all('td', class_='r b data')[-106].text],
        'ex_5': [soup3.find_all('td', class_='r b data')[-102].text],
        'ex_10': [soup3.find_all('td', class_='r b data')[-98].text],
        'ex_1120': [soup3.find_all('td', class_='r b data')[-94].text],
        'ex_2130': [soup3.find_all('td', class_='r b data')[-90].text],
        'ex_plus': [soup3.find_all('td', class_='r b data')[-86].text],
        'extra_fund': [soup4.find_all('td', class_='r data')[91].text],
        'all_fund': [soup4.find_all('td', class_='r data')[31].text],
        'ratio': [soup3.find_all('td', class_='r b data')[-83].text]
    }
    add=pd.DataFrame(chinaspring)
    return add

In [56]:
test = get_features('015907001')

In [20]:
test

,school_id,eng1,eng2,algebra,biology,history,ebel,econdis,salary,masters,doct,beginning_teach,ex_5,ex_10,ex_1120,ex_2130,ex_plus,extra_fund,all_fund,ratio
0,015907001,53%,58%,75%,83%,83%,20.2%,88.9%,"$58,074",38.9%,0.1%,21.7%,25.1%,17.0%,26.0%,9.2%,1.0%,$437,"$9,511",15.1

In [ ]:
test2 = pd.concat([test2, test])

In [4]:
def all_schools(school_id):
    all_info=pd.DataFrame({
        'school_id': [],
        'eng1': [], 
        'eng2': [], 
        'algebra': [],
        'biology': [], 
        'history': [], 
        'ebel': [],
        'econdis': [],
        'salary': [],
        'masters': [],
        'doct': [],
        'beginning_teach': [],
        'ex_5': [],
        'ex_10': [],
        'ex_1120': [],
        'ex_2130': [],
        'ex_plus': [],
        'extra_fund': [],
        'all_fund': [],
        'ratio': []
    })
    for n in school_id:
        try:
            school=get_features(n)
            all_info=pd.concat([all_info, school], ignore_index=True)
        except:
            continue
    return all_info

In [5]:
all_schools('019907109')

Empty DataFrame
Columns: [school_id, eng1, eng2, algebra, biology, history, ebel, econdis, salary, masters, doct, beginning_teach, ex_5, ex_10, ex_1120, ex_2130, ex_plus, extra_fund, all_fund, ratio]
Index: []

In [8]:
x = pd.DataFrame({})

In [12]:
x = pd.concat([x, test])
x

,school_id,eng1,eng2,algebra,biology,history,ebel,econdis,salary,masters,doct,beginning_teach,ex_5,ex_10,ex_1120,ex_2130,ex_plus,extra_fund,all_fund,ratio
0,015907001,53%,58%,75%,83%,83%,20.2%,88.9%,"$58,074",38.9%,0.1%,21.7%,25.1%,17.0%,26.0%,9.2%,1.0%,$437,"$9,511",15.1

In [13]:

def error(school_id):
    scores = pd.DataFrame({})
    for i in school_id:
        try: 
            schools = get_features(i)
            scores = pd.concat([scores, schools])
            
        except:
            continue
    return scores

In [14]:
error('019907109')

Empty DataFrame
Columns: []
Index: []

In [113]:
def nice_df():
    schools = pd.read_json('schools.json')
    high_schools = schools[schools['campus_type'] == 'High School']
    x = list(high_schools.id)
    strings = [str(y) for y in x]
    scores = pd.DataFrame({})
    for i in test:
        one_school = get_features(i)
        scores = pd.concat([scores, one_school])
    return scores

In [15]:
schools = pd.read_json('schools.json')
high_schools = schools[schools['campus_type'] == 'High School']
x = list(high_schools.id)

In [39]:
high_schools.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1784 entries, 0 to 8895
Data columns (total 79 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1784 non-null   int64
 1   district_id          1784 non-null   int64
 2   district_name        1784 non-null   object
 3   paired_id            1784 non-null   object
 4   region_id            1784 non-null   int64
 5   region               1784 non-null   object
 6   county_id            1784 non-null   int64
 7   county               1784 non-null   object
 8   entity_cd            1784 non-null   object
 9   entity               1784 non-null   object
 10  entity_type_cd       1784 non-null   object
 11  entity_type          1784 non-null   object
 12  campus_type_cd       1784 non-null   object
 13  campus_type          1784 non-null   object
 14  alt_standards        1784 non-null   object
 15  aea_bonus            1784 non-null   object
 16  online_school        1784 non-null   object
 17  type_cat_cd          1784 non-null   object
 18  type_cat             1784 non-null   object
 19  enrollment_type_cd   1784 non-null   int64
 20  enrollment_type      1784 non-null   int64
 21  schools              0 non-null      float64
 22  enrollment           1784 non-null   int64
 23  low_grade_cd         1784 non-null   object
 24  low_grade            1784 non-null   object
 25  high_grade_cd        1784 non-null   object
 26  high_grade           1784 non-null   object
 27  designation_cd       1784 non-null   object
 28  designation          1784 non-null   object
 29  name                 1784 non-null   object
 30  search_name          1784 non-null   object
 31  phone                1784 non-null   object
 32  email                1784 non-null   object
 33  website              1784 non-null   object
 34  principal            1784 non-null   object
 35  superintendent       1784 non-null   object
 36  address              1784 non-null   object
 37  street_address       1784 non-null   object
 38  city                 1784 non-null   object
 39  state                1784 non-null   object
 40  zip_5                1784 non-null   int64
 41  latitude             1784 non-null   float64
 42  longitude            1784 non-null   float64
 43  is_new               1784 non-null   object
 44  peg                  1784 non-null   object
 45  rating_cd            1784 non-null   object
 46  rating               1784 non-null   object
 47  appeal               1784 non-null   object
 48  mult_year            1784 non-null   int64
 49  score                1506 non-null   float64
 50  d1s                  1505 non-null   float64
 51  d1g                  1784 non-null   object
 52  d1as                 1505 non-null   float64
 53  d1ag                 1784 non-null   object
 54  d1bs                 1466 non-null   float64
 55  d1bg                 1784 non-null   object
 56  d1cs                 1524 non-null   float64
 57  d1cg                 1784 non-null   object
 58  d2s                  1356 non-null   float64
 59  d2g                  1784 non-null   object
 60  d2as                 1346 non-null   float64
 61  d2ag                 1784 non-null   object
 62  d2bs                 1285 non-null   float64
 63  d2bg                 1784 non-null   object
 64  d3s                  1370 non-null   float64
 65  d3g                  1784 non-null   object
 66  has_finance          1784 non-null   object
 67  sat_act_cd           1784 non-null   object
 68  sat_act              1784 non-null   object
 69  gaps                 1784 non-null   object
 70  d3_academic          1372 non-null   float64
 71  d3_growth            74 non-null     float64
 72  d3_grad              1286 non-null   float64
 73  d3_elp               871 non-null    float64
 74  d3_student           48 non-null     float64
 75  d3_quality           1323 non-null   float64
 76  distinctions         1784 non-null   object
 77  student_achievement  1784 non-null   object
 78  las_flag             1784 non-null   object
dtypes: float64(18), int64(9), object(52)
memory usage: 1.1+ MB

In [88]:
strings = [str(y) for y in x]
len(strings)

1784

In [70]:
test = strings[1000:1005]
test

['108906006', '108906007', '108906011', '108907001', '108907002']

In [71]:
scores = pd.DataFrame({})
for i in test:
    one_school = get_features(i)
    scores = pd.concat([scores, one_school])
scores

,school_id,eng1,eng2,algebra,biology,history,ebel,econdis,salary,masters,doct,beginning_teach,ex_5,ex_10,ex_1120,ex_2130,ex_plus,extra_fund,all_fund,ratio
0,108906006,72%,76%,84%,88%,93%,21.8%,73.1%,"$59,385",23.1%,0.0%,7.3%,16.7%,24.4%,28.9%,19.7%,2.9%,$804,"$9,663",14.1
0,108906007,55%,89%,70%,*,84%,36.8%,88.2%,"$59,170",32.0%,0.0%,0.0%,8.1%,33.3%,27.2%,25.6%,5.8%,$468,"$72,585",4.4
0,108906011,98%,98%,99%,100%,100%,16.5%,70.8%,"$60,130",52.6%,0.0%,2.7%,13.2%,22.9%,33.3%,21.7%,6.2%,$159,"$11,412",10.7
0,108907001,42%,49%,50%,62%,88%,28.4%,92.9%,"$56,360",13.0%,1.3%,3.7%,33.0%,27.1%,17.5%,17.4%,1.3%,"$1,495","$11,504",13.4
0,108907002,55%,44%,0%,60%,60%,39.1%,98.4%,"$58,819",0.0%,0.0%,0.0%,5.5%,0.0%,56.7%,37.8%,0.0%,$0,"$13,966",12.1

In [68]:
one_school = get_features('108906006')
one_school

,school_id,eng1,eng2,algebra,biology,history,ebel,econdis,salary,masters,doct,beginning_teach,ex_5,ex_10,ex_1120,ex_2130,ex_plus,extra_fund,all_fund,ratio
0,108906006,72%,76%,84%,88%,93%,21.8%,73.1%,"$59,385",23.1%,0.0%,7.3%,16.7%,24.4%,28.9%,19.7%,2.9%,$804,"$9,663",14.1

In [38]:
type(y[0])

int

In [92]:
new = strings

In [108]:
lists = []
for i in new:
    if len(i) < 9:
        i = i.zfill(9)
        lists.append(i)
    else:
        lists.append(i)

lists

['001902001',
 '001903001',
 '001904001',
 '001906002',
 '001907001',
 '001908002',
 '001909001',
 '002901001',
 '002901002',
 '003801001',
 '003801002',
 '003902001',
 '003902004',
 '003903001',
 '003903004',
 '003903201',
 '003904001',
 '003904005',
 '003905001',
 '003905004',
 '003907001',
 '003907004',
 '004901001',
 '005901001',
 '005902001',
 '005904001',
 '007901001',
 '007902001',
 '007902004',
 '007902005',
 '007904001',
 '007905001',
 '007905004',
 '007905005',
 '007906001',
 '008901001',
 '008902001',
 '008903001',
 '009901001',
 '010902001',
 '011901001',
 '011901002',
 '011901005',
 '011901022',
 '011902001',
 '011902003',
 '011902004',
 '011904002',
 '011905001',
 '012901001',
 '013901001',
 '013905001',
 '014801001',
 '014801002',
 '014801004',
 '014801005',
 '014801006',
 '014801007',
 '014801008',
 '014801009',
 '014801010',
 '014901001',
 '014903001',
 '014903010',
 '014905001',
 '014906001',
 '014906002',
 '014906004',
 '014906006',
 '014906007',
 '014906008',
 '014906013',
 '014907001',
 '014907043',
 '014908001',
 '014909002',
 '014909008',
 '014909198',
 '014910001',
 '015801001',
 '015801002',
 '015805001',
 '015806003',
 '015808003',
 '015808014',
 '015808016',
 '015814001',
 '015815041',
 '015825002',
 '015828008',
 '015833001',
 '015901001',
 '015904001',
 '015904002',
 '015904003',
 '015904004',
 '015904007',
 '015904010',
 '015904011',
 '015904115',
 '015905002',
 '015905003',
 '015905015',
 '015905016',
 '015905042',
 '015905124',
 '015906001',
 '015907001',
 '015907002',
 '015907003',
 '015907004',
 '015907005',
 '015907006',
 '015907007',
 '015907008',
 '015907020',
 '015907022',
 '015907024',
 '015907025',
 '015907027',
 '015907028',
 '015907182',
 '015908001',
 '015908006',
 '015909001',
 '015909002',
 '015909006',
 '015910001',
 '015910002',
 '015910003',
 '015910004',
 '015910005',
 '015910007',
 '015910008',
 '015910009',
 '015910012',
 '015910014',
 '015910022',
 '015910054',
 '015911001',
 '015911004',
 '015911005',
 '015911007',
 '015912001',
 '015912005',
 '015912006',
 '015915001',
 '015915002',
 '015915003',
 '015915005',
 '015915006',
 '015915007',
 '015915008',
 '015915011',
 '015915016',
 '015915019',
 '015915022',
 '015915023',
 '015915024',
 '015915025',
 '015915039',
 '015916001',
 '015916003',
 '015916006',
 '015916008',
 '015916009',
 '015916010',
 '015917001',
 '016901001',
 '016902001',
 '018901001',
 '018904001',
 '019901001',
 '019902002',
 '019905001',
 '019906001',
 '019907002',
 '019907003',
 '019908001',
 '019909001',
 '019912001',
 '020901001',
 '020901002',
 '020901005',
 '020901006',
 '020902001',
 '020902003',
 '020904001',
 '020905001',
 '020905002',
 '020905005',
 '020905006',
 '020906002',
 '020907001',
 '020908001',
 '020908007',
 '020908009',
 '021901001',
 '021901003',
 '021901004',
 '021901015',
 '021902001',
 '021902002',
 '021902003',
 '021902012',
 '021902015',
 '021902017',
 '022901001',
 '024901001',
 '025901001',
 '025902001',
 '025902003',
 '025905001',
 '025908003',
 '025908004',
 '025909001',
 '026901001',
 '026902001',
 '027903001',
 '027903003',
 '027904001',
 '027904002',
 '028902001',
 '028902038',
 '028903001',
 '029901001',
 '029901003',
 '030901001',
 '030902001',
 '030906001',
 '031901001',
 '031901002',
 '031901003',
 '031901004',
 '031901007',
 '031901008',
 '031901009',
 '031901034',
 '031903001',
 '031903002',
 '031903005',
 '031903007',
 '031903008',
 '031903204',
 '031905001',
 '031905002',
 '031906001',
 '031906005',
 '031909001',
 '031909003',
 '031911001',
 '031911002',
 '031912001',
 '031912003',
 '031912005',
 '031912007',
 '031912008',
 '031912009',
 '031912201',
 '031913001',
 '031913007',
 '031914001',
 '031916001',
 '031916003',
 '031916005',
 '032902002',
 '033902001',
 '033904001',
 '034901001',
 '034903001',
 '034905002',
 '034906001',
 '034907001',
 '035901001',
 '036901001',
 '036902001',
 '036903001',
 '037901001',
 '037904002',
 '037907002',
 '038901001',
 '039902001',
 '039903001',
 '041902002',
 '041902195',
 '042901001',
 '042903001',
 '043901001',
 '043901002',
 '043901003',
 '043902001',
 '043902197',
 '043903001',
 '043904001',
 '043905001',
 '043905002',
 '043905003',
 '043905005',
 '043905006',
 '043905007',
 '043905008',
 '043905009',
 '043905010',
 '043905011',
 '043905012',
 '043905013',
 '043907002',
 '043907004',
 '043907005',
 '043907007',
 '043908001',
 '043910001',
 '043910003',
 '043910004',
 '043910005',
 '043910006',
 '043910007',
 '043910008',
 '043910009',
 '043910010',
 '043910011',
 '043910200',
 '043911001',
 '043911004',
 '043912001',
 '043912002',
 '043912005',
 '043914001',
 '043914003',
 '043917001',
 '043918001',
 '043918002',
 '043919001',
 '044902001',
 '045902001',
 '045902002',
 '045903001',
 '045903004',
 '045905002',
 '046802001',
 '046802010',
 '046802011',
 '046802015',
 '046802016',
 '046802017',
 '046802019',
 '046802021',
 '046901001',
 '046901002',
 '046901038',
 '046902001',
 '046902002',
 '046902003',
 '046902004',
 '046902006',
 '046902007',
 '046902008',
 '046902201',
 '046902210',
 '047901001',
 '047902001',
 '048901006',
 '048901007',
 '048903005',
 '048903195',
 '049901001',
 '049902001',
 '049903001',
 '049905001',
 '049905002',
 '049907001',
 '050902001',
 '050910001',
 '050910005',
 '052901001',
 '053001001',
 '054903001',
 '054903002',
 '056901001',
 '057803002',
 '057803004',
 '057803005',
 '057803006',
 '057803007',
 '057803009',
 '057803010',
 '057803013',
 '057803014',
 '057803016',
 '057803019',
 '057804001',
 '057804002',
 '057804003',
 '057804004',
 '057804005',
 '057804006',
 '057804007',
 '057804008',
 '057804009',
 '057804010',
 '057804011',
 '057804012',
 '057804013',
 '057807002',
 '057814002',
 '057814003',
 '057814005',
 '057828001',
 '057828002',
 '057828003',
 '057828004',
 '057828005',
 '057828006',
 '057829002',
 '057830002',
 '057834001',
 '057834003',
 '057834004',
 '057840001',
 '057844001',
 '057848003',
 '057848006',
 '057848009',
 '057848018',
 '057848032',
 '057848033',
 '057848034',
 '057903001',
 '057903002',
 '057903003',
 '057903006',
 '057903007',
 '057903009',
 '057903010',
 '057903117',
 '057904001',
 '057904003',
 '057905001',
 '057905002',
 '057905003',
 '057905005',
 '057905006',
 '057905007',
 '057905008',
 '057905009',
 '057905012',
 '057905013',
 '057905014',
 '057905015',
 '057905016',
 '057905017',
 '057905018',
 '057905021',
 '057905022',
 '057905023',
 '057905024',
 '057905025',
 '057905026',
 '057905028',
 '057905029',
 '057905030',
 '057905032',
 '057905033',
 '057905034',
 '057905036',
 '057905037',
 '057905038',
 '057905039',
 '057905085',
 '057905088',
 '057905090',
 '057905096',
 '057905380',
 '057905382',
 '057905383',
 '057905387',
 '057906001',
 '057907001',
 '057907004',
 '057907007',
 '057909002',
 '057909003',
 '057909004',
 '057909005',
 '057909008',
 '057909009',
 '057909010',
 '057910002',
 '057910003',
 '057910007',
 '057910009',
 '057910010',
 '057911001',
 '057912002',
 '057912003',
 '057912004',
 '057912005',
 '057912006',
 '057912007',
 '057913001',
 '057914001',
 '057914002',
 '057914003',
 '057914004',
 '057914005',
 '057914006',
 '057914007',
 '057916002',
 '057916003',
 '057916004',
 '057916005',
 '057916008',
 '057919001',
 '057922001',
 '057922003',
 '059901001',
 '060902001',
 '061901002',
 '061901003',
 '061901006',
 '061901007',
 '061901008',
 '061901009',
 '061901039',
 '061902001',
 '061902002',
 '061902004',
 '061902007',
 '061902008',
 '061902010',
 '061903001',
 '061905001',
 '061905002',
 '061906001',
 '061907001',
 '061908001',
 '061908003',
 '061910001',
 '061911001',
 '061911005',
 '061911007',
 '061911008',
 '061911010',
 '061911011',
 '061912001',
 '061914001',
 '062901001',
 '062903001',
 '062904001',
 '064903001',
 '065901001',
 '066901001',
 '066902001',
 '066903002',
 '067902001',
 '067902004',
 '067903001',
 '067904001',
 '067907001',
 '067908001',
 '068901002',
 '068901003',
 '068901011',
 '068901014',
 '068901015',
 '069902001',
 '070903002',
 '070905002',
 '070907001',
 '070908001',
 '070908003',
 '070908010',
 '070910001',
 '070911001',
 '070912002',
 '070912003',
 '070912004',
 '070912010',
 '070915001',
 '071803001',
 '071803002',
 '071804001',
 '071804002',
 '071901001',
 '071901002',
 '071901004',
 '071901009',
 '071902001',
 '071902002',
 '071902003',
 '071902004',
 '071902005',
 '071902006',
 '071902008',
 '071902009',
 '071902010',
 '071902011',
 '071902012',
 '071902015',
 '071902020',
 '071902025',
 '071903001',
 '071904001',
 '071905001',
 '071905002',
 '071905003',
 '071905004',
 '071905005',
 '071905007',
 '071905008',
 '071905010',
 '071905014',
 '071905017',
 '071905033',
 '071906001',
 '071907001',
 '071907003',
 '071908001',
 '071909001',
 '071909002',
 '071909004',
 '071909005',
 '071909007',
 '071909008',
 '071909009',
 '071909011',
 '072801001',
 '072801101',
 '072801103',
 '072801104',
 '072801107',
 '072801108',
 '072801109',
 '072801110',
 '072801112',
 '072801113',
 '072801115',
 '072801116',
 '072801117',
 '072801118',
 '072801121',
 '072801128',
 '072801129',
 '072801130',
 '072801131',
 '072801135',
 '072801136',
 '072801137',
 '072801138',
 '072801139',
 '072801142',
 '072801143',
 '072801144',
 '072801145',
 '072801146',
 '072801147',
 '072801148',
 '072801149',
 '072801150',
 '072801152',
 '072801153',
 '072801154',
 '072801156',
 '072801157',
 '072802001',
 '072802002',
 '072902001',
 '072903001',
 '073903001',
 '073905001',
 '074903001',
 '074905001',
 '074907001',
 '074909001',
 '074911001',
 '074912001',
 '074917001',
 '075902001',
 '075908001',
 '077901001',
 '077902001',
 '079901001',
 '079901002',
 '079901003',
 '079901008',
 '079901009',
 '079901010',
 '079901011',
 '079906001',
 '079907001',
 '079907002',
 '079907004',
 '079907005',
 '079907006',
 '079907007',
 '079907008',
 '079907010',
 '079907011',
 '079907012',
 '079907013',
 '079907016',
 '079910001',
 '080901001',
 '081902002',
 '081904001',
 '081904003',
 '081905002',
 '082902001',
 '082903001',
 '082903003',
 '083903001',
 '083903002',
 '084901001',
 '084901009',
 '084901012',
 '084901014',
 '084902001',
 '084902003',
 '084906001',
 '084906002',
 '084906010',
 '084906014',
 '084908001',
 '084909001',
 '084909003',
 '084910001',
 '084910002',
 '084910003',
 '084910004',
 '084910006',
 '084910009',
 '084910010',
 '084910011',
 '084911001',
 '085902001',
 '086901001',
 '086901002',
 '086902001',
 '088902001',
 '089901001',
 '089903001',
 '089903002',
 '089903004',
 '090904001',
 '091901001',
 '091902001',
 '091903001',
 '091903002',
 '091905001',
 '091906002',
 '091906004',
 '091906037',
 '091908001',
 '091909001',
 '091910001',
 '091913001',
 '091914001',
 '091917001',
 '091918001',
 '092801001',
 '092901001',
 '092902002',
 '092903001',
 '092903004',
 '092904001',
 '092906002',
 '092907001',
 '092908001',
 '093903001',
 '093904002',
 '093904005',
 '094901001',
 '094901002',
 '094901112',
 '094902001',
 '094902002',
 '094902003',
 '094903001',
 '094904001',
 '094904003',
 '095901001',
 '095903001',
 '095905001',
 '095905004',
 '096904001',
 '097902001',
 '098901001',
 '098904001',
 '099903001',
 '100903002',
 '100904001',
 '100905001',
 '100905005',
 '100907001',
 '100908001',
 '101806001',
 '101811006',
 '101811008',
 '101821001',
 '101837001',
 '101838001',
 '101838004',
 '101846001',
 '101858004',
 '101862002',
 '101868001',
 '101902001',
 '101902002',
 '101902003',
 '101902004',
 '101902005',
 '101902008',
 '101902012',
 '101902013',
 '101902014',
 '101902015',
 '101902017',
 '101902098',
 '101902108',
 '101903001',
 '101903002',
 '101903003',
 '101903005',
 '101903006',
 '101903011',
 '101903012',
 '101903047',
 '101905001',
 '101905005',
 '101905007',
 '101906001',
 '101906004',
 '101907002',
 '101907003',
 '101907004',
 '101907005',
 '101907007',
 '101907009',
 '101907010',
 '101907011',
 '101907012',
 '101907013',
 '101907015',
 '101907016',
 '101907037',
 '101908001',
 '101910002',
 '101910003',
 '101910006',
 '101910008',
 '101910030',
 '101911002',
 '101911003',
 '101911005',
 '101911012',
 '101911015',
 '101911016',
 '101911017',
 '101912001',
 '101912002',
 '101912003',
 '101912004',
 '101912006',
 '101912007',
 '101912008',
 '101912009',
 '101912010',
 '101912011',
 '101912012',
 '101912014',
 '101912015',
 '101912016',
 '101912017',
 '101912018',
 '101912019',
 '101912020',
 '101912023',
 '101912024',
 '101912025',
 '101912026',
 '101912027',
 '101912034',
 '101912036',
 '101912097',
 '101912301',
 '101912308',
 '101912310',
 '101912311',
 '101912320',
 '101912321',
 '101912322',
 '101912323',
 '101912324',
 '101912345',
 '101912348',
 '101912351',
 '101912468',
 '101912477',
 '101912484',
 '101912485',
 '101912486',
 '101913001',
 '101913002',
 '101913005',
 '101913008',
 '101913013',
 '101913014',
 '101913197',
 '101913198',
 '101914001',
 '101914002',
 '101914005',
 '101914007',
 '101914009',
 '101914010',
 '101914012',
 '101914013',
 '101914014',
 '101914033',
 '101914034',
 '101915001',
 '101915002',
 '101915003',
 '101915004',
 '101915005',
 '101915037',
 '101916001',
 '101916002',
 '101916009',
 '101916032',
 '101917001',
 '101917002',
 '101917003',
 '101917004',
 '101917007',
 '101917012',
 '101917013',
 '101917014',
 '101919001',
 '101919002',
 '101919003',
 '101919018',
 '101919021',
 '101920001',
 '101920003',
 '101920005',
 '101920006',
 '101920010',
 '101921001',
 '101921002',
 '101921005',
 '101924001',
 '101924012',
 '101924014',
 '101925001',
 '101925004',
 '102902001',
 '102902006',
 '102903002',
 '102904002',
 '102905001',
 '102906001',
 '104901001',
 '105801001',
 '105803003',
 '105902001',
 '105904001',
 '105905001',
 '105906001',
 '105906004',
 '105906005',
 '105906006',
 '106901001',
 '107901001',
 '107902001',
 '107904001',
 '107905001',
 '107906001',
 '107906003',
 '107910001',
 '108804001',
 '108804002',
 '108804003',
 '108804004',
 '108807018',
 '108807096',
 '108902001',
 '108902003',
 '108902007',
 '108903001',
 '108903004',
 '108904001',
 '108904002',
 '108904003',
 '108904006',
 '108904039',
 '108904040',
 '108905001',
 '108906001',
 '108906002',
 ...]

In [109]:
len(lists)

1784

In [110]:
len(lists)

1784

In [116]:
tester = lists[0:11]

In [ ]:
scores = pd.DataFrame({})
for i in lists:
    try:
        one_school = get_features(i)
        scores = pd.concat([scores, one_school])
    except:
        continue
scores