In [46]:
from bs4 import BeautifulSoup
import requests
import os
import numpy as np
import pandas as pd

In [47]:
def get_features(school_id):
    
    url1=f'https://rptsvr1.tea.texas.gov/cgi/sas/broker?_service=marykay&_program=perfrept.perfmast.sas&_debug=0&lev=C&id={school_id}&prgopt=reports%2Ftapr%2Fperformance.sas'
    url2=f'https://rptsvr1.tea.texas.gov/cgi/sas/broker?_service=marykay&_program=perfrept.perfmast.sas&_debug=0&ccyy=2022&lev=C&id={school_id}&prgopt=reports/tapr/student.sas'
    url3=f'https://rptsvr1.tea.texas.gov/cgi/sas/broker?_service=marykay&_program=perfrept.perfmast.sas&_debug=0&ccyy=2022&lev=C&id={school_id}&prgopt=reports/tapr/staff.sas'
    url4=f'https://rptsvr1.tea.texas.gov/cgi/sas/broker?_service=marykay&_service=appserv&_debug=0&_program=sfadhoc.new_Campus_actual21.sas&which_camp={school_id}'
    
    response1=requests.get(url1)
    soup1 = BeautifulSoup(response1.content, 'html.parser')
    response2=requests.get(url2)
    soup2 = BeautifulSoup(response2.content, 'html.parser')
    response3=requests.get(url3)
    soup3 = BeautifulSoup(response3.content, 'html.parser')
    response4=requests.get(url4)
    soup4 = BeautifulSoup(response4.content, 'html.parser')
    
    
    chinaspring={
        'school_id': [school_id],
        'eng1': [soup1.find_all('td', class_='r t data')[2].text], 
        'eng2': [soup1.find_all('td', class_='r t data')[98].text], 
        'algebra': [soup1.find_all('td', class_='r t data')[194].text],
        'biology': [soup1.find_all('td', class_='r t data')[290].text], 
        'history': [soup1.find_all('td', class_='r t data')[386].text], 
        'ebel': [soup2.find_all('td', class_='r b data')[241].text],
        'econdis': [soup2.find_all('td', class_='r b data')[217].text],
        'salary': [soup3.find_all('td', class_='r b data')[-43].text],
        'masters': [soup3.find_all('td', class_='r b data')[-114].text],
        'doct': [soup3.find_all('td', class_='r b data')[-110].text],
        'beginning_teach': [soup3.find_all('td', class_='r b data')[-106].text],
        'ex_5': [soup3.find_all('td', class_='r b data')[-102].text],
        'ex_10': [soup3.find_all('td', class_='r b data')[-98].text],
        'ex_1120': [soup3.find_all('td', class_='r b data')[-94].text],
        'ex_2130': [soup3.find_all('td', class_='r b data')[-90].text],
        'ex_plus': [soup3.find_all('td', class_='r b data')[-86].text],
        'extra_fund': [soup4.find_all('td', class_='r data')[91].text],
        'all_fund': [soup4.find_all('td', class_='r data')[31].text],
        'ratio': [soup3.find_all('td', class_='r b data')[-83].text]
    }
    add=pd.DataFrame(chinaspring)
    return add

In [48]:
def all_schools(school_id):
    all_info=pd.DataFrame({
        'school_id': [],
        'eng1': [], 
        'eng2': [], 
        'algebra': [],
        'biology': [], 
        'history': [], 
        'ebel': [],
        'econdis': [],
        'salary': [],
        'masters': [],
        'doct': [],
        'beginning_teach': [],
        'ex_5': [],
        'ex_10': [],
        'ex_1120': [],
        'ex_2130': [],
        'ex_plus': [],
        'extra_fund': [],
        'all_fund': [],
        'ratio': []
    })
    for n in school_id:
        try:
            school=get_features(n)
            all_info=pd.concat([all_info, school], ignore_index=True)
        except:
            continue
    return all_info

In [49]:

def error(school_id):
    scores = pd.DataFrame({})
    for i in school_id:
        try: 
            schools = get_features(i)
            scores = pd.concat([scores, schools])
            
        except:
            continue
    return scores

In [50]:
def nice_df():
    schools = pd.read_json('schools.json')
    high_schools = schools[schools['campus_type'] == 'High School']
    x = list(high_schools.id)
    strings = [str(y) for y in x]
    scores = pd.DataFrame({})
    for i in test:
        one_school = get_features(i)
        scores = pd.concat([scores, one_school])
    return scores

In [51]:
school = pd.read_csv('school_data.csv')
school

,Unnamed: 0,school_id,eng1,eng2,algebra,biology,history,ebel,econdis,salary,...,doct,beginning_teach,ex_5,ex_10,ex_1120,ex_2130,ex_plus,extra_fund,all_fund,ratio
0,0,1902001,67%,82%,95%,88%,93%,1.2%,34.3%,"$55,259",...,0.0%,0.0%,18.0%,16.4%,37.3%,22.5%,5.8%,"$1,852","$10,656",10.1
1,0,1903001,75%,87%,76%,92%,93%,1.3%,34.5%,"$48,689",...,0.0%,0.0%,27.2%,21.6%,29.6%,10.8%,10.8%,"$2,056","$11,177",8.3
2,0,1904001,78%,80%,90%,87%,88%,4.7%,42.2%,"$51,538",...,0.0%,5.0%,37.2%,15.2%,23.1%,11.4%,8.1%,"$2,151","$10,885",8.8
3,0,1906002,82%,80%,100%,100%,96%,2.9%,48.1%,"$58,500",...,0.0%,0.0%,20.5%,20.4%,37.1%,11.0%,11.0%,"$1,899","$15,043",11.9
4,0,1907001,64%,66%,82%,83%,83%,13.8%,79.9%,"$52,703",...,0.0%,3.5%,19.2%,17.4%,34.5%,11.7%,13.7%,"$1,504","$11,129",12.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556,0,252901001,75%,79%,86%,85%,94%,9.5%,49.9%,"$57,874",...,0.0%,3.9%,9.2%,10.5%,41.9%,27.2%,7.2%,"$1,423","$9,852",13.1
1557,0,252903001,83%,90%,88%,93%,93%,4.0%,64.9%,"$48,047",...,0.0%,9.1%,15.8%,34.8%,16.5%,13.0%,10.8%,"$2,756","$13,508",7.7
1558,0,253901001,49%,48%,70%,70%,79%,30.4%,86.8%,"$54,771",...,0.0%,17.2%,19.3%,9.9%,30.2%,17.8%,5.7%,$113,"$7,916",13.9
1559,0,254901001,48%,62%,51%,76%,88%,1.3%,81.1%,"$51,019",...,3.2%,7.7%,21.9%,22.1%,20.5%,24.6%,3.2%,$60,"$7,617",16.9
1560,0,254902001,86%,59%,72%,69%,41%,5.9%,84.8%,"$53,223",...,0.0%,6.0%,15.6%,16.1%,28.2%,26.0%,8.0%,"$2,016","$13,154",8.2

In [52]:
school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1561 entries, 0 to 1560
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1561 non-null   int64
 1   school_id        1561 non-null   int64
 2   eng1             1561 non-null   object
 3   eng2             1561 non-null   object
 4   algebra          1561 non-null   object
 5   biology          1561 non-null   object
 6   history          1561 non-null   object
 7   ebel             1561 non-null   object
 8   econdis          1561 non-null   object
 9   salary           1561 non-null   object
 10  masters          1561 non-null   object
 11  doct             1561 non-null   object
 12  beginning_teach  1561 non-null   object
 13  ex_5             1561 non-null   object
 14  ex_10            1561 non-null   object
 15  ex_1120          1561 non-null   object
 16  ex_2130          1561 non-null   object
 17  ex_plus          1561 non-null   object
 18  extra_fund       1561 non-null   object
 19  all_fund         1561 non-null   object
 20  ratio            1561 non-null   object
dtypes: int64(2), object(19)
memory usage: 256.2+ KB

In [53]:
school = school.drop(columns = ['Unnamed: 0'])

In [54]:
school

,school_id,eng1,eng2,algebra,biology,history,ebel,econdis,salary,masters,doct,beginning_teach,ex_5,ex_10,ex_1120,ex_2130,ex_plus,extra_fund,all_fund,ratio
0,1902001,67%,82%,95%,88%,93%,1.2%,34.3%,"$55,259",22.0%,0.0%,0.0%,18.0%,16.4%,37.3%,22.5%,5.8%,"$1,852","$10,656",10.1
1,1903001,75%,87%,76%,92%,93%,1.3%,34.5%,"$48,689",29.4%,0.0%,0.0%,27.2%,21.6%,29.6%,10.8%,10.8%,"$2,056","$11,177",8.3
2,1904001,78%,80%,90%,87%,88%,4.7%,42.2%,"$51,538",37.0%,0.0%,5.0%,37.2%,15.2%,23.1%,11.4%,8.1%,"$2,151","$10,885",8.8
3,1906002,82%,80%,100%,100%,96%,2.9%,48.1%,"$58,500",9.8%,0.0%,0.0%,20.5%,20.4%,37.1%,11.0%,11.0%,"$1,899","$15,043",11.9
4,1907001,64%,66%,82%,83%,83%,13.8%,79.9%,"$52,703",20.8%,0.0%,3.5%,19.2%,17.4%,34.5%,11.7%,13.7%,"$1,504","$11,129",12.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556,252901001,75%,79%,86%,85%,94%,9.5%,49.9%,"$57,874",22.9%,0.0%,3.9%,9.2%,10.5%,41.9%,27.2%,7.2%,"$1,423","$9,852",13.1
1557,252903001,83%,90%,88%,93%,93%,4.0%,64.9%,"$48,047",27.9%,0.0%,9.1%,15.8%,34.8%,16.5%,13.0%,10.8%,"$2,756","$13,508",7.7
1558,253901001,49%,48%,70%,70%,79%,30.4%,86.8%,"$54,771",21.2%,0.0%,17.2%,19.3%,9.9%,30.2%,17.8%,5.7%,$113,"$7,916",13.9
1559,254901001,48%,62%,51%,76%,88%,1.3%,81.1%,"$51,019",17.4%,3.2%,7.7%,21.9%,22.1%,20.5%,24.6%,3.2%,$60,"$7,617",16.9
1560,254902001,86%,59%,72%,69%,41%,5.9%,84.8%,"$53,223",11.3%,0.0%,6.0%,15.6%,16.1%,28.2%,26.0%,8.0%,"$2,016","$13,154",8.2

In [72]:
#this function takes in a list of dollar values in strings and converts them to float

def convert_dollars_to_float(x):
    fix = []
    blah = []
    something = [] #this list holds only the balance keys from the dictionary
    only_dollars = [] # this holds the values without the commas
    convert = []
    for d in x:
        d = d.replace(' ', '')
        fix.append(d)
    for e in fix:
        e = e.replace('-', '')
        blah.append(e)
        # this holds the converted values 
    for a in blah:
        a = a.strip('$')
        something.append(a)
    for b in something:
        b = b.replace(",","")
        only_dollars.append(b)
    for c in only_dollars:
        c = float(c)
        convert.append(c)

    return convert

In [73]:
school.iloc[203]

school_id                      31903001
eng1                             49%
eng2                             68%
algebra                          80%
biology                          59%
history                          87%
ebel                              10.4%
econdis                           80.5%
salary                          $57,639
masters                           20.3%
doct                               0.0%
beginning_teach                    8.6%
ex_5                              24.3%
ex_10                             16.6%
ex_1120                           35.7%
ex_2130                           11.2%
ex_plus                            3.7%
extra_fund                         $703
all_fund                        $10,394
ratio                              14.8
Name: 204, dtype: object

In [74]:
school = school[school['salary'] != '-']

In [77]:
school = school[school['salary'] != '?']

In [79]:
school.salary = convert_dollars_to_float(school.salary)

/var/folders/9m/3m9g9yzs77j2m_79z47fjdr00000gq/T/ipykernel_16468/3952137847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school.salary = convert_dollars_to_float(school.salary)

In [81]:
school.all_fund = convert_dollars_to_float(school.all_fund)

/var/folders/9m/3m9g9yzs77j2m_79z47fjdr00000gq/T/ipykernel_16468/2968226382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school.all_fund = convert_dollars_to_float(school.all_fund)

In [83]:
school.extra_fund = convert_dollars_to_float(school.extra_fund)

/var/folders/9m/3m9g9yzs77j2m_79z47fjdr00000gq/T/ipykernel_16468/1788412683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school.extra_fund = convert_dollars_to_float(school.extra_fund)

In [84]:
school

,school_id,eng1,eng2,algebra,biology,history,ebel,econdis,salary,masters,doct,beginning_teach,ex_5,ex_10,ex_1120,ex_2130,ex_plus,extra_fund,all_fund,ratio
0,1902001,67%,82%,95%,88%,93%,1.2%,34.3%,55259.0,22.0%,0.0%,0.0%,18.0%,16.4%,37.3%,22.5%,5.8%,1852.0,10656.0,10.1
1,1903001,75%,87%,76%,92%,93%,1.3%,34.5%,48689.0,29.4%,0.0%,0.0%,27.2%,21.6%,29.6%,10.8%,10.8%,2056.0,11177.0,8.3
2,1904001,78%,80%,90%,87%,88%,4.7%,42.2%,51538.0,37.0%,0.0%,5.0%,37.2%,15.2%,23.1%,11.4%,8.1%,2151.0,10885.0,8.8
3,1906002,82%,80%,100%,100%,96%,2.9%,48.1%,58500.0,9.8%,0.0%,0.0%,20.5%,20.4%,37.1%,11.0%,11.0%,1899.0,15043.0,11.9
4,1907001,64%,66%,82%,83%,83%,13.8%,79.9%,52703.0,20.8%,0.0%,3.5%,19.2%,17.4%,34.5%,11.7%,13.7%,1504.0,11129.0,12.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556,252901001,75%,79%,86%,85%,94%,9.5%,49.9%,57874.0,22.9%,0.0%,3.9%,9.2%,10.5%,41.9%,27.2%,7.2%,1423.0,9852.0,13.1
1557,252903001,83%,90%,88%,93%,93%,4.0%,64.9%,48047.0,27.9%,0.0%,9.1%,15.8%,34.8%,16.5%,13.0%,10.8%,2756.0,13508.0,7.7
1558,253901001,49%,48%,70%,70%,79%,30.4%,86.8%,54771.0,21.2%,0.0%,17.2%,19.3%,9.9%,30.2%,17.8%,5.7%,113.0,7916.0,13.9
1559,254901001,48%,62%,51%,76%,88%,1.3%,81.1%,51019.0,17.4%,3.2%,7.7%,21.9%,22.1%,20.5%,24.6%,3.2%,60.0,7617.0,16.9
1560,254902001,86%,59%,72%,69%,41%,5.9%,84.8%,53223.0,11.3%,0.0%,6.0%,15.6%,16.1%,28.2%,26.0%,8.0%,2016.0,13154.0,8.2

In [85]:
def change_dollars(df):
    school = school[school['salary'] != '-']
    school = school[school['salary'] != '?']
    school.salary = convert_dollars_to_float(school.salary)
    school.all_fund = convert_dollars_to_float(school.all_fund)
    school.extra_fund = convert_dollars_to_float(school.extra_fund)
    return df